body {
  margin-top: 20px;
  margin-left: 50px;
  background-color: #FEFDCF;
  font-size: 120%;
}

h1, h3 {color: #6FBFA2;

}

tr{
  color: #6FBFA2;
}

li {
  color: #7ED9A5;
}
 a {
  color: #195E63;
}

td, p {
  color: #404040;
}

.edu-title { margin-top: 40px;
  margin-bottom: -10px;
}

.certificates-title {
  margin-bottom: -10px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

img {
  display: block;
  margin: auto;
  border-radius: 50%;
  min-width: 200px;
}

p {
  margin: 0px 150px 0px 0px;
}

p<li {
  padding: 5px;
}

li {
  padding-top: 20px;
}

footer {
  display: flex;
}

a { margin-left: 40px;
  padding: 60px;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}
